<div id="btnAddStopwatch" class="row z-depth-3 valign-wrapper hoverable">
    <div class="col s8">
        <p class="">
            Press the ADD button to create a new timer.
        </p>
    </div>
    <div class="col s4 center-align">
        <a href="#" class="btn-floating btn-large waves-effect waves-light cyan pulse" component-url='@Url.Action("GetComponent","Home")'><i class="fa fa-plus"></i></a>
    </div>
</div>