<div class="row">
    <form class="col s12" onsubmit="return insertTask();">        
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-commenting prefix"></i>
                <textarea id="TaskDescription" class="materialize-textarea" data-length="120"></textarea>
                <label for="TaskDescription">Task Description</label>
            </div>
            <div class="col s6 offset-s6 center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit <i class="fa fa-send-o"></i></button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col s12">
        <ul id="ulTaskList" class="collection scale-transition scale-out">
        </ul>        
    </div>
</div>