nav {
    color: #000;
    background-color: #fffafa;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: black;
}

.clock {
    display: block;
    font-size: 60px;
    color: #0277BD;   
    cursor: pointer;
}

.clock > span{
    padding-top: 5px;
}

.clock.inactive {
    color: #9e9e9e;
}

.clock .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clock-controls > a {
    width: 54px;
    height: 54px;
}

.collection-item-wrapper{
    box-sizing: content-box;
    height: 37px;
    line-height: 37px;
}